input {
    keyboard {
        xkb {
            layout "us(intl),pt"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

layout {
    background-color "transparent"
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    gaps 4
    
    border {
        width 2
        active-color "#0087BD"
        inactive-color "#333545"
    }

    focus-ring {
        off
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
}

window-rule {
    match is-floating=true

    border {
        width 0
        active-color "transparent"
        inactive-color "transparent"
    }
}

// show wallpaper in overview
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// disable hotkey overlay
hotkey-overlay {
    skip-at-startup
}

// disable middle click paste
clipboard {
    disable-primary
}

// disable client-side decorations/make windows rectangular
prefer-no-csd

// set screenshot folder
screenshot-path "~/Pictures/Screenshots/screenshot-%Y-%m-%d %H-%M-%S.png"

// open the Firefox picture-in-picture window as floating
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"

    open-floating true
}


// open Firefox and LibreWolf in fullscreen
window-rule {
    match app-id=r#"firefox$"#
    match app-id=r#"librewolf"#

    default-column-width { proportion 1.0; }
}

// open rofi as floating window
window-rule {
    match app-id=r#"Rofi"#

    open-floating true
    open-focused true
}

// shortcuts
binds {
    Ctrl+Alt+Delete { quit skip-confirmation=true; }
    Print { screenshot; }

    Mod+L hotkey-overlay-title="Lock the screen" { spawn-sh "niri msg action power-off-monitors ; swaylock --daemonize"; }
    Mod+Return hotkey-overlay-title="Open kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Open rofi" { spawn-sh "rofi -show drun -normal-window"; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Mod+F { maximize-column; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Minus { set-column-width "-10"; }
    Mod+Equal { set-column-width "+10"; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Home  { focus-column-first; }
    Mod+End   { focus-column-last; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Home  { move-column-to-first; }
    Mod+Shift+End   { move-column-to-last; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%-"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set +10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set 10%-"; }
}

// startup
spawn-at-startup "brightnessctl" "--class=leds" "set" "0"
spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-sh-at-startup "swaybg --mode fill --image ~/.dotfiles/wallpaper.jpg"
spawn-sh-at-startup "swayidle -w timeout 600 'niri msg action power-off-monitors' timeout 601 'swaylock --daemonize' before-sleep 'swaylock --daemonize'"
