* {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: #EFF0EB;
  font-family: 'Symbols Nerd Font', 'Iosevka Medium', sans-serif;
  font-size: 10px;
  margin: 0;
  min-height: 0;
  padding: 0;
  text-shadow: none;
  transition-duration: 0s;
  transition: none;
}

window {
  background-color: transparent;
}

#workspaces button {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 0 0 5px;
  padding: 3px 5px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 15px;
}

#window {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 0 0 0;
  padding: 3px 6px;
}

window#waybar.empty #window {
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

#language {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 5px 0 0;
  padding: 3px 6px;
}

#pulseaudio {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 5px 0 0;
  padding: 3px 6px;
}

#backlight {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 5px 0 0;
  padding: 3px 6px;
}

#network {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 5px 0 0;
  padding: 3px 6px;
}

#battery {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 5px 0 0;
  padding: 3px 6px;
}

#clock {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 5px 0 0;
  padding: 3px 6px;
}

#custom-quit {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 4px 5px 0 0;
  padding: 3px 6px;
}
